#inbox {
  .inboxdet {
    margin: 15px 0 0 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid black;
    &--block {
      &--group {
        h4 {
          color: #353535;
          font-size: 12px;
          font-family: Poppins;
        }
        p {
          color: #9a9a9a;
          font-size: 12px;
          font-family: Inter;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          padding: 0 30px 0 0;
          display: flex;
          width: 132.018px;
          height: 22px;
          flex-direction: column;
          flex-shrink: 0;
          color: #000;
          font-size: 18px;
          font-family: Poppins;
        }
        p {
          color: #353535;
          font-size: 16px;
          font-family: Inter;
        }
      }
    }
  }
}
